<div class="main-info-grid3">
  <div class="profile-agile">
  <h5 >Profile</h5>
    <div class="w3layouts">
      <img src="{{ person.image }}" alt=" ">
      <h3 >{{ person.name }}</h3>
      <label class="line"></label>
      <p>{{person.haracters}}</p>
    </div>
    <div class="agileits-w3layouts">
      <div class="w3l">
        <h4>{{person.followers}}</h4>
        <h6>Followers</h6>
      </div>
      <div class="w3-agile">
        <h4>{{person.following}}</h4>
        <h6>Following</h6>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
